*{
    margin : 0;
    padding: 0;
}

body{
    font: normal 16px Verdana, Arial, sans-serif;
}

#titre{
    padding-top:20px ;
    padding-left:20px ;
    height: 50px;
    width : 100%;
    background-color: #f2f2f2;
    box-shadow: -1px 11px 18px -1px rgba(82,82,82,1);
    margin-bottom: 1%;
}

#content{
    margin-top: 3%;
}

.columns{
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}

#sequence{
    padding: 1%;
    margin-bottom: 1%;
}

#sequence_image{
    width :864px;
    height: 320px;
    overflow-x:scroll;
    border: dashed 2px lightgray;
}

#logger_div{
    padding: 1%;
    width : 40%;
}

#logger{
    font: normal 16px Courier, monospace;
    height: 300px;
    width: 600px;
    border: dashed 2px lightgray;
    overflow-y:scroll;
}

#memory{
    margin-left: 5%;
    width: auto;
    height: auto;
}

#memory_image{
    padding: 1%;
    border: dashed 2px lightgray;
    width: auto;
    height: auto;
}

#robot_status{
    margin-left: 5%;
    width: auto;
    height: auto;
}

#robot_mode{
    height: 200px;
    width: 200px;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.hidden {
    display: none;
}
